body {
  background-color: #0b1c2d; /* blu scuro */
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding-top: 70px;
}
/* css */
.subtitle-custom {
  color: #0d6efd; /* blu Bootstrap */
}

.section-padding {
  background-color:#0b1c2d;
}
.section-my-5 {
  position: center;
  text-align: left;
}
.profile-img {
  width: 200px;
  height: 200px;
  object-fit: cover;        /* evita deformazioni */
  border-radius: 50%;       /* rende l'immagine tonda */
  border: 4px solid #f6f7f9; /* cornice blu */
  box-shadow: 0 4px 15px rgba(0,0,0,0.2); /* ombra elegante */
  position: center;
}
/* .section-text-muted {
  color: #74b4f0;
  position: center;
} */
 .container.my-5 {
  position: center;
  text-align: left;
 }


.section-title,
.section-text,
p,
li {
  color: #ffffff;
  position: center;
}
h3 {
  color: #1e90ff; /* blu vivace */  
}
#about,
#skills,
#projects {
  min-height: 100vh;
}
.hero-section {
  min-height: 100vh;
}
header .btn-primary {
  background-color: #1e90ff; /* blu vivace */
  border: none;
}
header .btn-primary:hover {
  background-color: #1c86ee; /* blu leggermente più scuro */
}
footer {
  background-color: #071422; /* blu molto scuro */
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
}
footer a {
  color: #1e90ff; /* blu vivace */
  text-decoration: none;
}
